<h1>Bookings#index - grand master Flash !!!</h1>
<p>Find me in app/views/quads/index.html.erb</p>
<ul>
  <% @bookings.each do |booking| %>
    <li> L'utilisateur : <%= user.id %> a reservé le quad <%= quad.id %> </li>
  <% end %>
</ul>
