<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.clubvillamar.fr/content/lloret-de-mar/wp-content/uploads/2021/01/Quad-huren-in-Lloret-de-Mar.jpg');">
  <div class="container">
    <h1> KellSquad </h1>
    <h3 class="text-warning">évadez-vous pour de nouvelles aventures !</h3>
    <p>Change your life, drive on quad <p>
    <%= link_to 'Réservez maintenant', quads_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
