
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.clubvillamar.fr/content/lloret-de-mar/wp-content/uploads/2021/01/Quad-huren-in-Lloret-de-Mar.jpg');">
  <div class="container">
    <h1>Quads#index</h1>
    <p>Find me in app/views/quads/index.html.erb</p>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <ul>
      <% @quads.each do |quad| %>
        <li><%= quad.name %></li>
      <% end %>
    </ul>
  </div>
</div>
