<h1>Quads#show - grand master Flash !!!</h1>
<p>Find me in app/views/quads/show.html.erb</p>
<h2>Nom du quad : <%= @quad.name %></h2>
<p>Couleur : <%= @quad.color %></p>
<p>Puissance : <%= @quad.power %></p>
<p>Prix : <%= @quad.price %></p>
